.Input input {
  display: block;
  margin: 1rem;
  background-color: #fafafa;
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
  padding: 15px;
}
.SubmitBtn {
  margin: 0 1rem;
  width: 100%;
  padding: 10px;
  color: #fafafa;
  background-color: #5c6bc0;
  border: none;
  border-radius: 3px;
  font-weight: bolder;
}
